body{
    background-color: #F8F9FA;
}
.content__login--title{
    height: 20px;
    width: 149px;
    margin-top: 15px;
    margin-left: 22px;
    font-family: "Poppins";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    
}
.content__login--form{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px 10px 8px 8px;
    
    top:200px;
}

.content__login--label{
    margin: 15px 0 5px 22px ;
    width: 310px;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin-left: px;
    
}
.content__login--input{

    height: 52px;
    width: 280px;
    border-radius: 12px;
    padding: 26px, 2px, 26px, 20px;
    margin-left: 12px;
    margin-bottom: 15px;
    background: #F8F9FA;
    border: 1.5px solid #DEE2E6

}

.content__login--ButtonCadastro{
    height: 52px;
    width: 280px;
    left: 580px;
    top: 719px;
    border-radius: 32px;
    padding: 15px, 20px, 15px, 20px;
    background: #FF2253;
    border: 1.5px solid #FF2253;
    color:white;
    cursor: pointer;
    
}
::-webkit-input-placeholder{
    padding: 10px;
}

@media (min-width: 425px){
    .content__login{
        display: flex;
        justify-content: center;
    }
    .content__login--title{
        text-align: center;
        align-self:unset;
    }
  
    .content__login--label{
        align-self: unset;
        position: relative;
        margin-left: 60px;
    }
    .content__login--form{
        width: 750px;
    }
}

@media (min-width:768px){
    .content__login{
        display: flex;
        justify-content: center;
    }
    .content__login--title{
        text-align: center;
        align-self:unset;
    }
    .content__login--input{
        width: 390px;
        align-self: unset;
    }

    .content__login--label{
        align-self: unset;
        position: relative;
        right: 50px ;
    }
    .content__login--form{
        width: 750px;
        height: 600px;
    }
}

