@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__Cards{
    width: 1005px;
    height: 835px;
    /* background-color: rgb(83, 24, 24); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__Product{
    width: 100%;
    height: 100%;
    max-width: 303px;
    max-height: 397px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: rgb(46, 33, 165); */


}

.card__Product--format{
    width: 100%;
    height: 100%;
    max-width: 303px;
    max-height: 397px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card__Product--format{
    width: 100%;
    height: 100%;
    max-width: 294px;
    max-height: 194px;
    background-color: #FFF1F4;
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

.card__Product--resize{
    width: 98%;
    height: 98%;
    max-width: 294px;
    max-height: 194px;
    border-radius: 5px;

}

.Title--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}

.Paragraph--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}

.category--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #868E96;

}

.product__Price{
    width: 100%;
    height: 100%;
    max-width: 294px;
    max-height: 38px;
    display: flex;
    justify-content: space-between;
    
}

.product__Price--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.product__Button{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 38px;
    background-color: transparent;
    border: none;
}

.product__Button--resize{
    width: 100%;
    height: 100%;
    max-width: 38px;
    max-height: 38px;
    align-items: center;   
}

/* /////////////////////////////////////////MOBILE////////////////////////////////////// */
@media (max-width: 768px){

    html{
        height: 650px;
        width: 2020px;

    }
    body{
        height:  100%;
    }

    .product__Cards{
        width: 2010px;
        height: 397px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: 18px;
    }

    .card__Product{
        /* width: 100%;
        height: 100%; */
        width: 303px;
        height: 397px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* background-color: rgb(46, 33, 165); */
    
    
    }
    
    .card__Product--format{
        width: 303px;
        height: 397px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .card__Product--format{
        width: 294px;
        height: 194px;
        background-color: #FFF1F4;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    
    }
    
    .card__Product--resize{
        width: 98%;
        height: 98%;
        max-width: 294px;
        max-height: 194px;
        border-radius: 5px;
    
    }
    
    .Title--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: #000000;
    }
    
    .Paragraph--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #868E96;
    }

    .category--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;

    }
    
    .product__Price{
        width: 100%;
        height: 100%;
        max-width: 294px;
        max-height: 38px;
        display: flex;
        justify-content: space-between;
        
    }
    
    .product__Price--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    
    .product__Button{
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 38px;
        background-color: transparent;
        border: none;
    }
    
    .product__Button--resize{
        width: 100%;
        height: 100%;
        max-width: 38px;
        max-height: 38px;
        align-items: center;   
    }
}