@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

header,
 a {
     display: flex;
 }
 
 .container {
     padding: 10px 20px 0 10px;
 }
 
 .img_logo {
     margin-bottom: 20px;
 }
 
 .header_search {
     display: flex;
     align-items: center;
 }
 
 .search {
     position: relative;
     display: flex;
     align-items: center;
 }
 
 .img_search {
     position: absolute;
     left: 6px;
     height: 16px;
 }
 
 .input_search {
     padding: 4px 4px 4px 30px;
     border-radius: 12px;
     border: none;
     box-sizing: border-box;
     background-color: #E9ECEF;
     width: 312px;
     height: 40px;
 }
 
 .img_search {
     height: 16px;
 }
 
 .user {
     position: relative;
     bottom: 55px;
     left: 5px;
 }
 
 .container_login {
     position: relative;
     bottom: 68px;
     left: 246px;
 }
.filt__all{
    height: 48px;
    width: 88px;
    left: 117px;
    top: 116px;
    border-radius: 32px;
    padding: 15px, 20px, 15px, 20px;
    background: #FF2253;
    border: 1.5px solid #FF2253;
    color: #F8F9FA;
}
.filt__pan{
    height: 48px;
    width: 170px;
    left: 233px;
    top: 116px;
    border-radius: 32px;
    padding: 15px, 20px, 15px, 20px;
    background: #FFF7F4;
    border: 1.5px solid #FFF7F4
}
.filt__fruits{
    height: 48px;
    width: 170px;
    left: 233px;
    top: 116px;
    border-radius: 32px;
    padding: 15px, 20px, 15px, 20px;
    background: #FFF7F4;
    border: 1.5px solid #FFF7F4
}
.filt__drinks{
    height: 48px;
    width: 170px;
    left: 233px;
    top: 116px;
    border-radius: 32px;
    padding: 15px, 20px, 15px, 20px;
    background: #FFF7F4;
    border: 1.5px solid #FFF7F4
}
.btn-img{
    height: 19px;
    width: 19px;
    left: 20px;
    top: 14.5px;
    border-radius: 0px;
}

html{
    height: 650px;
    width: 2020px;

}
body{
    height:  100%;
}

.product__Cards{
    width: 2010px;
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 18px;
}

.card__Product{

    width: 303px;
    height: 381px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  
}

.card__Product--format{
    width: 303px;
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card__Product--format{
    width: 294px;
    height: 194px;
    background-color: #FFF1F4;
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

.card__Product--resize{
    width: 98%;
    height: 98%;
    max-width: 294px;
    max-height: 194px;
    border-radius: 5px;

}

.Title--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}

.Paragraph--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}

.category--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

}

.product__Price{
    width: 100%;
    height: 100%;
    max-width: 294px;
    max-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.product__Price--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.product__Button{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 38px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.product__Button--resize{
    width: 100%;
    height: 100%;
    max-width: 38px;
    max-height: 38px;
    align-items: center;   
}

.localCommerce{
    position:absolute;
    width: 100%;
}

.cart{
    width: 100%;
}

.cart__button{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    background: #FF2253;

}



@media (min-width: 425px) {
    header,
    a {
        display: flex;
        padding: 12px;
    }
    .user {
        position: relative;
        bottom: 60px;
        left: 40px;
    }
    .container_login {
        position: relative;
        bottom: 80px;
        left: 376px;
    }
}

@media (min-width: 768px) {
    header,
    a {

        padding: 12px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85%;
    }
    .container_admin {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 1024px;
    }
    .img_logo {
        width: 122px;
        height: 33px;
    }
    .header_search {
        display: flex;
    }
    .search {
        position: relative;
        display: flex;
        align-items: center;
    }
    .img_search {
        position: relative;
        left: 230px;
        height: 16px;
        z-index: 2;
    }
    .input_search {
        position: relative;
        left: 205px;
        padding: 4px 4px 4px 30px;
        border-radius: 12px;
        border: none;
        box-sizing: border-box;
        background-color: #E9ECEF;
        width: 312px;
        height: 40px;
    }
    .container_login {
        position: relative;
        right: 50px;
        bottom: 0px;
     
    }
    .user {
        position: relative;
        left: 70px;
        bottom: 3px;
        height: 36px;
        width: 36px;
    }
    .product__Cards{
        width: 1005px;
        height: 965px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media (min-width: 1440px){
    .container_admin{
        justify-content: space-between;
    }
    .container{
        width:100%;
    }
    .product__Cards{
        width: 965px;
        height: 965px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .card__Product{
        width: 100%;
        height: 100%;
        max-width: 303px;
        max-height: 397px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      
    }
    
    .card__Product--format{
        width: 100%;
        height: 100%;
        max-width: 303px;
        max-height: 397px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .card__Product--format{
        width: 100%;
        height: 100%;
        max-width: 294px;
        max-height: 194px;
        background-color: #FFF1F4;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    
    }
    
    .card__Product--resize{
        width: 98%;
        height: 98%;
        max-width: 294px;
        max-height: 194px;
        border-radius: 5px;
    
    }
    
    .Title--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: #000000;
    }
    
    .Paragraph--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #868E96;
    }
    
    .category--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #868E96;
    
    }
    
    .product__Price{
        width: 100%;
        height: 100%;
        max-width: 294px;
        max-height: 38px;
        display: flex;
        justify-content: space-between;
        
    }
    
    .product__Price--format{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    
    .product__Button{
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 38px;
        background-color: transparent;
        border: none;
    }
    
    .product__Button--resize{
        width: 100%;
        height: 100%;
        max-width: 38px;
        max-height: 38px;
        align-items: center;   
    }
}