@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root {
    --color-primary: #FF2253;
    --color-primary-50: #FFE9EE;
    --color-secondary: #0CA678;
    --color-secondary-50: #E4F7EF;
    --grey-4: #212529;
    --grey-3: #868E96;
    --grey-2: #E9ECEF;
    --grey-1: #F8F9FA;
    --product-1: #EEF6FF;
    --product-2: #FFF7F4;
    --product-3: #FFF1F4;
    --product-4: #F3EEF5;
}

html,
input,
button {
    font-family: 'Poppins';
}

.title1 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

.title2 {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.title3 {
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
}

.body {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.caption {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.detail {
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.container {
    max-width: 1685px;
    width: 100%;
}

main {
    padding: 0 16px;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 16px 0;
}

.container_admin {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.container_admin>* {
    margin-bottom: 32px;
}

.header_search {
    display: flex;
    align-items: center;
    width: 100%;
}

.header_search>*:not(:first-child) {
    margin-left: 16px;
}

.search {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.search img:first-child {
    height: 20px;
    left: 16px;
    position: absolute;
}

.search input {
    background: var(--grey-2);
    border: 1px solid var(--grey-2);
    border-radius: 12px;
    box-sizing: border-box;
    height: 49px;
    padding: 15px 18px 15px 48px;
    width: 100%;
}

.search input,
.search input::placeholder {
    color: var(--grey-3);
    font-size: 16px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}

.btn-container::-webkit-scrollbar {
    display: none;
}

.filter_container>*:not(:first-child) {
    margin-left: 16px;
}

.filter_container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-filt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
}

.btn-filt:hover {
    background: var(--color-primary);
    color: var(--color-primary-50);
}

.btn-filt>*:not(:first-child) {
    margin-left: 16px;
}

.filt__all {
    background: var(--product-1);
}

.filt__pan {
    background: var(--product-2);
}

.filt__fruits {
    background: var(--product-3);
}

.filt__drinks {
    background: var(--product-4);
}

.add_product {
    background-color: var(--color-primary);
    margin-left: 16px;
}

.add_product p {
    color: var(--color-primary-50);
}

@media (min-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 16px;
    }
    header {
        box-shadow: 0 0 40px -20px rgba(0, 0, 0, .25);
        height: 72px;
        padding: 0 16px;
    }
    .container_admin {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .container_admin>* {
        margin-bottom: 0;
    }
    .header_search,
    .search {
        width: auto;
    }
    .search input {
        width: 312px;
    }
}