        header,
        a {
            display: flex;
        }
        
        .container {
            padding: 10px 20px 0 10px;
        }
        
        .img_logo {
            margin-bottom: 20px;
        }
        
        .header_search {
            display: flex;
            align-items: center;
        }
        
        .search {
            position: relative;
            display: flex;
            align-items: center;
        }
        
        .img_search {
            position: absolute;
            left: 6px;
            height: 16px;
        }
        
        .input_search {
            padding: 4px 4px 4px 30px;
            border-radius: 12px;
            border: none;
            box-sizing: border-box;
            background-color: #E9ECEF;
            width: 312px;
            height: 40px;
        }
        
        .img_search {
            height: 16px;
        }
        
        .user {
            position: relative;
            bottom: 55px;
            left: 5px;
        }
        
        .container_login {
            position: relative;
            bottom: 68px;
            left: 246px;
        }
        
        @media (min-width: 425px) {
            header,
            a {
                display: flex;
                padding: 12px;
            }
            .user {
                position: relative;
                bottom: 60px;
                left: 40px;
            }
            .container_login {
                position: relative;
                bottom: 80px;
                left: 376px;
            }
        }
        
        @media (min-width: 768px) {
            header,
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
            }
            .container {
                display: flex;
                align-items: center;
                justify-content: stretch;
                width: 1024px;
            }
            .container_admin {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 1024px;
            }
            .img_logo {
                width: 122px;
                height: 33px;
            }
            .header_search {
                display: flex;
            }
            .search {
                position: relative;
                display: flex;
                align-items: center;
            }
            .img_search {
                position: relative;
                left: 230px;
                height: 16px;
                z-index: 2;
            }
            .input_search {
                position: relative;
                left: 205px;
                padding: 4px 4px 4px 30px;
                border-radius: 12px;
                border: none;
                box-sizing: border-box;
                background-color: #E9ECEF;
                width: 312px;
                height: 40px;
            }
            .container_login {
                position: relative;
                right: 50px;
                bottom: 0px;
                /* left: 20px; */
            }
            .user {
                position: relative;
                left: 70px;
                bottom: 3px;
                height: 36px;
                width: 36px;
            }
        }