@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root {
    --color-primary: #FF2253;
    --color-primary-50: #FFE9EE;
    --color-secondary: #0CA678;
    --color-secondary-50: #E4F7EF;
    --grey-4: #212529;
    --grey-3: #868E96;
    --grey-2: #E9ECEF;
    --grey-1: #F8F9FA;
    --product-1: #EEF6FF;
    --product-2: #FFF7F4;
    --product-3: #FFF1F4;
    --product-4: #F3EEF5;
}

html,
input,
button {
    font-family: 'Poppins';
}
.remover{
    display: none;
}
.title1 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

.title2 {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.title3 {
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
}

.body {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.caption {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.detail {
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.container {
    max-width: 1685px;
    width: 100%;
}

main {
    padding: 0 16px;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 16px 0;
}

.container_admin {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.container_admin>* {
    margin-bottom: 32px;
}

.header_search {
    display: flex;
    align-items: center;
    width: 100%;
}

.header_search>*:not(:first-child) {
    margin-left: 16px;
}

.search {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.search img:first-child {
    height: 20px;
    left: 16px;
    position: absolute;
}

.search input {
    background: var(--grey-2);
    border: 1px solid var(--grey-2);
    border-radius: 12px;
    box-sizing: border-box;
    height: 49px;
    padding: 15px 18px 15px 48px;
    width: 100%;
}

.search input,
.search input::placeholder {
    color: var(--grey-3);
    font-size: 16px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}

.btn-container::-webkit-scrollbar {
    display: none;
}

.filter_container>*:not(:first-child) {
    margin-left: 16px;
}

.filter_container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-filt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
}

.btn-filt:hover {
    background: var(--color-primary);
    color: var(--color-primary-50);
}

.btn-filt>*:not(:first-child) {
    margin-left: 16px;
}

.filt__all {
    background: var(--product-1);
}

.filt__pan {
    background: var(--product-2);
}

.filt__fruits {
    background: var(--product-3);
}

.filt__drinks {
    background: var(--product-4);
}

.add_product {
    background-color: var(--color-primary);
    margin-left: 16px;
}

.add_product p {
    color: var(--color-primary-50);
}

.product__Cards{
    width: 400px;
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 18px;
    overflow-x:scroll;
    padding-top: 40px;

}

.card__Product {
    width: 303px;
    height: 381px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card__Product--format {
    width: 303px;
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__Product--format {
    width: 294px;
    height: 194px;
    background-color: #FFF1F4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.card__Product--resize {
    width: 98%;
    height: 98%;
    max-width: 294px;
    max-height: 194px;
    border-radius: 5px;
}

.Title--format {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}

.Paragraph--format {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}

.category--format {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.product__Price {
    width: 100%;
    height: 100%;
    max-width: 294px;
    max-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.product__Price--format {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.product__Button {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 38px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.product__Button--resize {
    width: 100%;
    height: 100%;
    max-width: 38px;
    max-height: 38px;
    align-items: center;   
}

.localCommerce{
    position:fixed;
    bottom: 0px;
    width: 100%;
}

.cart{
    width: 100%;
}

.cart__button{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    background: #FF2253;
    

}
/* Não deu certo colocar ainda */
/* .opacity{
    display: flex;
    justify-content: center;
    position: relative;
    background:  #00000080;
    bottom: 200px;
    opacity: 1.5;
    width: 100%;
    height: 130vh;
} */

 .main__cart{
    display: none;
    width: 345px;
    height: 620px;
    position: absolute;
    bottom: -85px;
    animation: 2s cartAnimation;
    
 }

 @keyframes cartAnimation{
     0%   {bottom: -1000px;}
     100% {bottom: -85px;}
 }

.cart__header{
    height: 60.38px;
    background: #FF2253;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__headerInfo{

    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart__headerInfo--resize{
    width: 15.09px;
    height: 15.09px;
}

.cart__headerInfo--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.cart__header__button{
    width: 60px;
    background-color: transparent;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
}

.cart__body{
    width: 100%;
    height: 360px;
    background: #FFFFFF;
    overflow-y: scroll;
}

.cart_cardBody{
    position: relative;
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 22px;
}

.productImg__cart{
    width: 75.47px;
    height: 75.47px;
    margin: 10px;
}

.productImg__cart--resize{
    width: 75.47px;
    height: 75.47px;
}

.producInfo__cart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 15px;
}

.productCart__title--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.productCart__category--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #868E96;
}

.productCart__price--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
}

.buttonProduct__remove{
    position: absolute;
    right: 20px;
    top: 15px;
    border: none;
    cursor: pointer;
    background: #F8F9FA;
    border-radius: 4.3125px;
    width: 26.95px;
    height: 26.95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__footer{
    width: 100%;
    height: 125px;
    background-color: #ffffff;
    border-radius: 0px 0px 12px 12px;
}

.cart__footerQuantity{
    height: 50%;
    background: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 10px;
}

.cart__footerQuantity--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.9375px;
    line-height: 14px;
    color: #000000;
}

.cart__footerQuantity__Number--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.9375px;
    line-height: 14px;
    color: #000000;
}

.cart__footerTotalPrice{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 10px;
}

.cart__footerPrice--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.9375px;
    line-height: 14px;
    color: #000000;
}

.cart__footerPrice__Number--format{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.9375px;
    line-height: 14px;
    color: #000000;
}

@media (min-width: 425px) {
    header,
    a {
        display: flex;
        padding: 12px;
    }
    .user {
        position: relative;
        bottom: 60px;
        left: 40px;
    }
    .container_login {
        position: relative;
    }
}

@media (min-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 16px;
    }
    header {
        box-shadow: 0 0 40px -20px rgba(0, 0, 0, .25);
        height: 72px;
        padding: 0 16px;
    }
    .container_admin {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .container_admin>* {
        margin-bottom: 0;
    }
    .header_search,
    .search {
        width: auto;
    }
    .search input {
        width: 312px;
    }
    .input_search{
        width:200px
    }
    .container {
        display: flex;
    }
    
    .product__Cards{
        width: 1005px;
        height: 965px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        padding-left: 40px;
        padding-top: 40px;

    }
    .localCommerce{
        display: none;
        position:fixed;
        width: 100%;
    }
    .buttonLogOut{
        height: 48px;
        width: 117px;
        left: 1268px;
        top: 116px;
        border-radius: 32px;
        padding: 15px, 20px, 15px, 20px;
        background: #FF2253;
        border: 1.5px solid #FF2253;
        color:white;
        cursor: pointer;
    }
}

@media (min-width: 1440px){
    .container_admin{
        justify-content: space-between;
        width: 925px;
    }
    .container{
        width:100%;
    }
    .product__Cards{
        width: 965px;
        height: 965px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 18px;
        padding-top: 40px;
        align-content: space-around;
    }
    .card__Product {
        width: 100%;
        height: 100%;
        max-width: 303px;
        max-height: 397px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .card__Product--format {
        width: 100%;
        height: 100%;
        max-width: 303px;
        max-height: 397px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card__Product--format {
        width: 100%;
        height: 100%;
        max-width: 294px;
        max-height: 194px;
        background-color: #FFF1F4;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .card__Product--resize {
        width: 98%;
        height: 98%;
        max-width: 294px;
        max-height: 194px;
        border-radius: 5px;
    }
    .Title--format {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: #000000;
    }
    .Paragraph--format {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #868E96;
    }
    .category--format {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #868E96;
    }
    .product__Price {
        width: 100%;
        height: 100%;
        max-width: 294px;
        max-height: 38px;
        display: flex;
        justify-content: space-between;
    }
    .product__Price--format {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    .product__Button {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 38px;
        background-color: transparent;
        border: none;
    }
    .product__Button--resize {
        width: 100%;
        height: 100%;
        max-width: 38px;
        max-height: 38px;
        align-items: center;
    }
    .localCommerce{
        display: none;
        position:absolute;
        bottom: 0px;
        width: 100%;
    }
    .remover{
        display: none;
    }
}