.filt__all{
    height: 48px;
    width: 88px;
    left: 117px;
    top: 116px;
    border-radius: 32px;
    padding: 15px, 20px, 15px, 20px;
    background: #FF2253;
    border: 1.5px solid #FF2253;
    color: #F8F9FA;
}
.filt__pan{
    height: 48px;
width: 170px;
left: 233px;
top: 116px;
border-radius: 32px;
padding: 15px, 20px, 15px, 20px;
background: #FFF7F4;
border: 1.5px solid #FFF7F4
}
.filt__fruits{
    height: 48px;
width: 170px;
left: 233px;
top: 116px;
border-radius: 32px;
padding: 15px, 20px, 15px, 20px;
background: #FFF7F4;
border: 1.5px solid #FFF7F4
}
.filt__drinks{
    height: 48px;
width: 170px;
left: 233px;
top: 116px;
border-radius: 32px;
padding: 15px, 20px, 15px, 20px;
background: #FFF7F4;
border: 1.5px solid #FFF7F4
}
.btn-img{
    height: 19px;
width: 19px;
left: 20px;
top: 14.5px;
border-radius: 0px;
}